<div class="row">
  <div class="col-lg col-md"></div>
  
  <div class="col-lg col-md">
    <%= form_for :tweet, url: tweets_path do |f| %>
      
      <div class="form-group">
        <%= f.text_field :message, placeholder: "What's happening?", class: "form-control" %>
      </div>

      <%= f.submit "Tweet", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-lg col-md"></div>
</div>