<header class="bg-primary container text-white text-center col-lg-12 col-md-12">
  <h1><%= @user.name %></h1>
  <span><%= @user.screen_name %> - Joined <%= @user.created_at.strftime('%b %-d, %Y') %></span>
</header>